## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: kde-mouse-doubleclick
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/kde-mouse-doubleclick
Vcs-Browser: https://github.com/Whonix/kde-mouse-doubleclick
Vcs-Git: https://github.com/Whonix/kde-mouse-doubleclick.git
Standards-Version: 3.9.8

Package: kde-mouse-doubleclick
Architecture: all
Depends: ${misc:Depends}
Description: Double click instead of single click in KDE
 This package only takes effect for newly created user accounts. Not for
 existing user accounts. This package is most useful to help Linux distribution
 maintainers setting divergent defaults.
